.text{
    color: red;
    text-align: center;
    font-variant: small-caps;
    font-family: cursive;
        background-color: wheat;

}

table {
    width: 100%;
  }

  .route{

    float: right;
  }